<app-common-fault title="未处理井盖信息" (sendOut)="sendOut($event)" [tBody]="tBody" [tHead]="tHead" [prop]="prop" [btnGroup]="btnGroup" [page]="page"></app-common-fault>
<div #modal class="modal fade bs-example-modal-lg" id="sendInstruction" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h6 style="font-size: 16px" class="modal-title">指派人员名单</h6>
    </div>
    <div class="modal-content">
      <div *ngIf="!(workUser.length > 0)"><h2 style="color: #34c779;text-align: center">没有可指派的人员</h2></div>
      <div *ngFor="let wU of workUser" class="mData">
        <div class="row" *ngFor="let wN of workName;let i=index">
          <div class="col-xs-3">{{wN[0]}}</div><div *ngIf="wU" class="col-xs-3">{{wU[workProp[i][0]]}}</div>
          <div class="col-xs-3">{{wN[1]}}</div><div *ngIf="wU" class="col-xs-3">{{wU[workProp[i][1]]}}</div>
        </div>
        <div style="text-align: left;"><button data-toggle="modal" data-target="#sendInstruction"
          class="btn btn-xs" (click)="sendInstruction(wU.username);getData();">发送{{wU['name']}}</button></div>
      </div>
      <div style="text-align: right;"><button data-toggle="modal" data-target="#sendInstruction"
        class="btn btn-md btn-danger">关闭</button></div>
    </div>
  </div>

</div>
