<div class="map-view">
  <div class="map">
    <div class="container-fluid">
      <div class="row">
        <!--地图标题-->
        <div class="title">
          <i class="glyphicon glyphicon-home"></i>
          <span class="map-title">管辖区域-实时视图</span>
        </div>
        <!--地图分布-->
        <!--<div echarts [options]="options" style="height: 600px;width: 100%;" (chartInit)="onChartEvent($event)"></div>-->
        <div id="myMap" style="height: 65vh;width: 100%;"></div>
        <!--地图左侧异常信息说明-->
        <div class="white-title">
          <ul>
            <li><span></span>&nbsp;&nbsp;井盖丢失</li>
            <li><span></span>&nbsp;&nbsp;水位过高</li>
            <li><span></span>&nbsp;&nbsp;管道堵塞</li>
            <li><span></span>&nbsp;&nbsp;井盖传感器异常</li>
            <li><span></span>&nbsp;&nbsp;水位传感器异常</li>
          </ul>
        </div>
        <!--省市联动-->
        <div class="location" (click)="administrativeClick()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span class="map-title">当前位置：{{selectDate}}</span>
        </div>
        <!--省-->
        <ul class="select-list-province" *ngIf="provinceShow">
          <li *ngFor="let item of province"
              (mouseenter)="provinceMouseEnter(item)"
              (click)="provinceDataClick(item)"
          >
            {{item}}
          </li>
        </ul>
        <!--市-->
        <ul class="select-list-city" *ngIf="cityShow">
          <li *ngFor="let item of city"
              (click)="cityDataClick(item)"
              (mouseenter)="cityMouseEnter(item)"
          >
            {{item}}
          </li>
        </ul>
        <!--区-->
        <ul class="select-list-town" *ngIf="townsShow">
          <li *ngFor="let item of towns"
              (click)="townsDataClick(item)"
          >
            {{item}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--<div class="information-title" (click)="toggleOnlist()">
    <div class="i-title" >
      <i [ngStyle]="{'display': onlist === 'off'?'block':'none'}" class="glyphicon glyphicon-chevron-left"></i>
      <i [ngStyle]="{'display': onlist === 'open'?'block':'none'}" class="glyphicon glyphicon-chevron-right"></i>
    </div>
  </div>-->
  <div class="information-body">
    <div class="information-body-title">
      <i class="icon-event2"></i>
      <span style="color:white;margin-left: 15px">异常事件</span>
    </div>
    <div class="information-body-table">
     <!-- <ul>
        <li>
          <span>20180612</span>
          <span>00:23:25</span>
          <button class="btn btn-danger">报警</button>
          <span>井盖丢失、水位异常</span>
        </li>
        <li>
          <span>20180612</span>
          <span>00:23:25</span>
          <button class="btn btn-primary">报警</button>
          <span>井盖丢失、水位异常</span>
        </li>
        <li>
          <span>20180612</span>
          <span>00:23:25</span>
          <button class="btn">报警</button>
          <span>井盖丢失、水位异常</span>
        </li>
        <li>
          <span>20180612</span>
          <span>00:23:25</span>
          <button class="btn btn-warning">报警</button>
          <span>井盖丢失、水位异常</span>
        </li>
        <li>
          <span>20180612</span>
          <span>00:23:25</span>
          <button class="btn btn-success">报警</button>
          <span>井盖丢失、水位异常</span>
        </li>
      </ul>-->
      <table class="table table-striped" style=" border-collapse: separate;">
        <thead>
          <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.21);">
            <th>时间</th>
            <th>类型</th>
            <th>事件描述</th>
        </tr>
        </thead>
        <tbody>
         <!-- <tr *ngFor="let f of homepageMsg?.faultRecordManholeCoverInfo;let i=index">
            <td>{{i+1}}</td>
            <td>{{f.id}}</td>
            <td>{{f.failureTime}}</td>
          </tr>-->
          <tr>
            <td>2018-06-12 00:23:25</td>
            <td><button class="btn btn-danger">报警</button></td>
            <td>井盖丢失、水位异常</td>
          </tr>
         <div style="height: 3px"></div>
         <tr>
           <td>2018-06-12 00:23:25</td>
           <td><button class="btn btn-primary">报警</button></td>
           <td>井盖丢失、水位异常</td>
         </tr>
         <div style="height: 3px"></div>
         <tr>
           <td>2018-06-12 00:23:25</td>
           <td><button class="btn btn-violet">维修</button></td>
           <td>井盖丢失、水位异常</td>
         </tr>
         <div style="height: 3px"></div>
         <tr>
           <td>2018-06-12 00:23:25</td>
           <td><button class="btn btn-warning">报警</button></td>
           <td>井盖丢失、水位异常</td>
         </tr>
         <div style="height: 3px"></div>
         <tr>
           <td>2018-06-12 00:23:25</td>
           <td><button class="btn btn-success">报警</button></td>
           <td>井盖丢失、水位异常</td>
         </tr>
         <div style="height: 3px"></div>
        </tbody>
      </table>
       <!-- <div class="tbody">
          <ul *ngFor="let f of homepageMsg?.faultRecordManholeCoverInfo;let i=index">
            <li>20180612</li>
            <li>00:23:25</li>
            <li><span>报警</span></li>
            <li></li>
            <li></li>
          </ul>
        </div>-->
    </div>
  </div>
</div>
<div class="event-statistics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="event-statistics-time">
          <div class="title-box">
            <i class="icon-event1"></i>
            <span style="color:white;margin-left: 15px">事件统计</span>
          </div>
          <div class="time-box"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="event-statistics-day">
          <div class="col-lg-2 col-md-2 left">
            <p>今</p>
            <p>日</p>
          </div>
          <div class="col-lg-10 col-md-10 right"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="event-statistics-week">
          <div class="col-lg-2 col-md-2 left">
            <p>今</p>
            <p>日</p>
          </div>
          <div class="col-lg-10 col-md-10 right"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="event-statistics-month">
          <div class="col-lg-2 col-md-2 left">
            <p>今</p>
            <p>日</p>
          </div>
          <div class="col-lg-10 col-md-10 right">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>



  <!--异常信息提醒-->
  <!--<div class="color-title" *ngIf="mobile">
    <div><span class="glyphicon glyphicon-alert">&nbsp;井盖丢失</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;水位过高</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;管道堵塞</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;井盖传感器异常</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
  </div>-->
  <!--<div *ngIf="mobile" class="information" [@slide]="onlist">-->

