<div class="container-fluid">
  <div class="row" *ngIf="mobile">
    <div class="title">
      <i class="glyphicon glyphicon-home"></i>
      <span class="map-title">管辖区域-实时视图</span>
    </div>
    <div class="location" (click)="administrativeClick()">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span class="map-title">当前位置：{{selectDate}}</span>
    </div>
    <!--省-->
    <ul class="select-list-province" *ngIf="provinceShow">
      <li *ngFor="let item of province"
          (mouseenter)="provinceMouseEnter(item)"
          (click)="provinceDataClick(item)"
      >
        {{item}}
      </li>
    </ul>
    <!--市-->
    <ul class="select-list-city" *ngIf="cityShow">
      <li *ngFor="let item of city"
          (click)="cityDataClick(item)"
          (mouseenter)="cityMouseEnter(item)"
      >
        {{item}}
      </li>
    </ul>
    <!--区-->
    <ul class="select-list-town" *ngIf="townsShow">
      <li *ngFor="let item of towns"
          (click)="townsDataClick(item)"
      >
        {{item}}
      </li>
    </ul>
  </div>
  <!--<div echarts [options]="options" style="height: 600px;width: 100%;" (chartInit)="onChartEvent($event)"></div>-->
  <div id="myMap" style="height: 600px;width: 100%;"></div>
  <div class="white-title">
    <ul>
      <li><span></span>&nbsp;&nbsp;井盖丢失</li>
      <li><span></span>&nbsp;&nbsp;水位过高</li>
      <li><span></span>&nbsp;&nbsp;管道堵塞</li>
      <li><span></span>&nbsp;&nbsp;井盖传感器异常</li>
      <li><span></span>&nbsp;&nbsp;水位传感器异常</li>
    </ul>
  </div>
  <div class="color-title" *ngIf="mobile">
    <div><span class="glyphicon glyphicon-alert">&nbsp;井盖丢失</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;水位过高</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;管道堵塞</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
    <div><span class="glyphicon glyphicon-alert">&nbsp;井盖传感器异常</span><span>编号:XXXXXXX</span><span>经纬度:XXXXX,XXXXX</span></div>
  </div>
  <div *ngIf="mobile" class="information" [@slide]="onlist">
    <div class="information-title" (click)="toggleOnlist()">
      <div class="i-title" >
        <i [ngStyle]="{'display': onlist === 'off'?'block':'none'}" class="glyphicon glyphicon-chevron-left"></i>
        <i [ngStyle]="{'display': onlist === 'open'?'block':'none'}" class="glyphicon glyphicon-chevron-right"></i>
      </div>
    </div>
    <div class="information-body">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#abnormal" aria-controls="abnormal" role="tab"
        data-toggle="tab" style="color:white;">异常事件</a></li>
        <li role="presentation"><a href="#inspection" aria-controls="inspection" role="tab"
        data-toggle="tab" style="color:white;">巡检事件</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="abnormal">
          <table>
            <thead>
            <tr style=" border-bottom: 1px solid rgba(0, 0, 0, 0.21);">
              <th>#</th>
              <th>编号</th>
              <th>水位高度</th>
              <th>故障时间</th>
              <th>故障详情</th>
              <th>GPS位置</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let f of homepageMsg?.faultRecordManholeCoverInfo;let i=index">
              <td>{{i+1}}</td>
              <td>{{f.id}}</td>
              <td> </td>
              <td>{{f.failureTime}}</td>
              <td> </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="inspection">
          <h1>无数据</h1>
        </div>
      </div>
    </div>
  </div>
</div>
