*{
  margin: 0;
  padding: 0;
}
.container-fluid{
  background-color: rgba(69, 76, 84, 0.52);
  margin:5px;
  height: 700px;
}
.title{
  position: absolute;
  background-color:#202833;
  width: 180px;
  height: 42px;
  color: white;
  box-shadow: rgba(27, 24, 24, 0.52) 1px 1px 1px 1px;
  font-size: 12px;
  padding-top: 10px;
  z-index: 1;
}
.i-title{
  font-size: 25px;
  color: antiquewhite;
}
.i-title:hover{
  color: white;
}
.i-link{
  display: inline;
  float: right;
  padding: 10px;
  cursor: pointer;
}
.i-link a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.i-link i{
  margin-left: 10px;
}
.chart{
  width: 100%;
  z-index: 0;
}
.information{
  position: fixed;
  top: 65px;
  right: 0;
  z-index: 10;
}
.information-title{
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: rgba(69, 76, 84, 0.52);
  height: 700px;
  width: 50px;
  padding-top: 350px;
  padding-left: 10px;
}
.information-body{
  color: black;
  background-color: white;
  position: fixed;
  right: -480px;
  padding-left: 5px;
  width: 480px;
  height: 700px;
}
.information-title:hover{
  background-color: rgba(69, 76, 84, 0.8);
  color: white;
}
table{
  width: 100%;
}
table th,td{
  padding: 4px 0 4px 0;
}
tbody tr:hover{
  background-color: cornflowerblue;
  cursor: pointer;
}
