<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div *ngFor="let mD of modalData" class="mData">
        <div class="row" *ngFor="let dN of dataName;let i=index">
          <div class="col-xs-3">{{dN[0]}}</div><div *ngIf="mD" class="col-xs-3">{{mD[prop[i][0]]}}</div>
          <div class="col-xs-3">{{dN[1]}}</div><div *ngIf="mD" class="col-xs-3">{{mD[prop[i][1]]}}</div>
        </div>
        <div style="text-align: left;"><button class="btn btn-xs">发送{{mD.name}}</button></div>
      </div>
    </div>
  </div>
</div>
