<div class="container-fluid" style="margin-left: 15px;">
  <div class="row">
    <div class="title">
      <i style="margin-left: 15px;" class="glyphicon glyphicon-home"></i>
      <p style="display: inline-block;padding:0 2% 0 5%;font-size: 15px">{{title}}</p>
    </div>
  </div>
  <div class="row Body">
    <div class="table">
      <table>
        <thead>
        <tr>
          <th># </th>
          <th *ngFor="let th of tHead">{{th}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tb of tBody; let i = index">
          <td>{{i + 1}}</td>
          <td *ngFor="let p of prop">{{tb[p]}}</td>
          <td *ngIf="btnGroup.length === 2">
            <button data-toggle="modal" data-target="#sendInstruction" class="btn btn-xs" (click)="send(tb['manholeId'])" >{{btnGroup[0]}}</button>
            <button data-toggle="modal" data-target="#eventMessage" class="btn btn-xs" (click)="send(tb['manholeId'])" >{{btnGroup[1]}}</button></td>
          <td *ngIf="btnGroup.length === 1">
            <button data-toggle="modal" data-target="#eventMessage" class="btn btn-xs">{{btnGroup[0]}}</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
