<div class="container-fluid">
  <div class="sider">
    <div class="search">
      <i class="glyphicon glyphicon-search"></i>
      <input type="search" placeholder="搜索" >
    </div>
    <div class="search home" routerLink="/home">
      <i class="glyphicon glyphicon-home"></i><span>&nbsp;&nbsp;首页</span>
    </div>
    <div>
      <div class="nav">
        <ul class="Mul" >
          <li style="padding:10px;"><a class="Fnav" style="height: 30px;line-height: 30px;">
            <span class="Span">操作菜单</span></a></li>
          <li *ngFor="let list of navList1; let listIndex = index" >
            <a [ngStyle]="{'border-left':list.open?'5px solid white':'5px solid transparent',
             'background-color':list.open? 'rgb(32,40,51,1)':''}"
               (click)="toggleList(1, listIndex)">
              <i class="{{list.icon}}" ></i>
              <span>{{list.title}}</span>
            </a>
            <ul class="mul" [ngStyle]="{'height':list.height}">
              <li *ngFor="let listChild of list.children;let listChildIndex=index" (click)="toggleListChild(1, listIndex, listChildIndex)" [routerLink]="[listChild.routers]">
                <a [ngStyle]="{'border-left':listChild.open?'2px solid white':'2px solid transparent', 'background-color':listChild.open? 'rgb(32,40,51,.8)':'rgb(32,40,51,.4)'}" >
                  <i class="{{listChild.icon}}"></i>
                  <span>{{listChild.title}}</span>
                </a></li>
            </ul>
          </li>
        </ul>
        <ul class="Mul">
          <li style="padding:10px;"><a class="Fnav" style="height: 30px;line-height: 30px;">
            <span class="Span" style="padding-left: 10px;" (click)="bigDataClick()">大数据分析</span></a></li>
          <li *ngFor="let list of navList2; let listIndex = index" >
            <a [ngStyle]="{'border-left':list.open?'5px solid white':'5px solid transparent',
            'background-color':list.open? 'rgb(32,40,51,1)':''}"
               (click)="toggleList(2, listIndex)">
              <i class="{{list.icon}}" ></i>
              <span>{{list.title}}</span>
            </a>
            <ul class="menu-ul">
              <li *ngFor="let listChild of list.children;let listChildIndex=index" (click)="toggleListChild(2, listIndex, listChildIndex)">
                <a [ngStyle]="{'border-left':listChild.open?'2px solid white':'2px solid transparent', 'background-color':listChild.open? 'rgb(32,40,51,.8)':'rgb(32,40,51,.4)'}" >
                  <i class="{{listChild.icon}}"></i>
                  <span>{{listChild.title}}</span>
                </a></li>
            </ul>
          </li>
        </ul>
        <ul class="Mul">
          <li style="padding:10px;"><a class="Fnav" style="height: 30px;line-height: 30px;">
            <span class="Span" style="padding-left: 10px;">信息菜单</span></a></li>
          <li *ngFor="let list of navList3; let listIndex = index" >
            <a [ngStyle]="{'border-left':list.open?'5px solid white':'5px solid transparent',
            'background-color':list.open? 'rgb(32,40,51,1)':''}"
               (click)="toggleList(3, listIndex)">
              <i class="{{list.icon}}" ></i>
              <span>{{list.title}}</span>
            </a>
            <ul class="menu-ul">
              <li *ngFor="let listChild of list.children;let listChildIndex=index" (click)="toggleListChild(3, listIndex, listChildIndex)">
                <a [ngStyle]="{'border-left':listChild.open?'2px solid white':'2px solid transparent', 'background-color':listChild.open? 'rgb(32,40,51,.8)':'rgb(32,40,51,.4)'}" >
                  <i class="{{listChild.icon}}"></i>
                  <span>{{listChild.title}}</span>
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
