<div class="container-fluid">
  <div class="row" style="overflow: hidden">
    <div class="pull-left">
      <div class="title">
        <p><img src="assets/images/RBI-s.png" alt="" style="height: 2.5vh;width: auto"></p>
      </div>
    </div>
    <div class="information">
      <ul>
        <li><i class="glyphicon glyphicon-user" style="color: black;font-size: 0.6rem"></i></li>
        <li>你好，管理员</li>
        <li class="line"></li>
        <li>个人中心</li>
        <li class="line"></li>
        <li (click)="loginOut()">退出</li>
      </ul>
    </div>
  </div>
</div>
