<div class="container-fluid" style="margin-left: 15px;">
  <div class="row">
    <div class="title">
      <i style="margin-left: 15px;" class="glyphicon glyphicon-home"></i>
      <p style="display: inline-block;padding:0 2% 0 5%;font-size: 15px">故障详情-未处理</p>
    </div>
  </div>
  <div class="row Body">
    <div class="table">
      <table>
        <thead>
        <tr>
          <th># </th>
          <th>编号ID</th>
          <th>故障时间</th>
          <th>故障情况</th>
          <th>GPS位置</th>
          <th>发送检修指令</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of fault.datas; let i = index">
          <td>{{i + fault.startRecord}}</td>
          <td>{{f.id}}</td>
          <td>{{f.failureTime}}</td>
          <td></td>
          <td>{{f.gpsId}}</td>
          <td><button>发送</button></td>
        </tr>
        </tbody>
      </table>
      <div class="text-center" style="padding: 1% 0;">
        <div class="pagination">
          <ul class="pagination">
            <li><a (click)="firstPage()">首页</a></li>
            <li><a (click)="previousPage()">上一页</a></li>
            <li><a (click)="nextPage()">下一页</a></li>
            <li><a (click)="lastPage()">尾页</a></li>
            <li><a>{{currentPage}}/{{fault.totalPage}}</a></li>
            <li><a  style="padding: 3px;">跳转到: &nbsp;
              <input type="number" [(ngModel)]="skpPage"  class="skip-input" (keyup.enter)="appointPage()">页</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
