.container-fluid{
  min-width:720px;
  background: url("../../assets/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.header{
  position: relative;
}
.sider{
  position: absolute;
}
.main{
  margin-left: 223px;
}
