<div class="container-fluid" style="margin-left: 15px;">
  <div class="row">
    <div class="title">
      <i style="margin-left: 15px;" class="glyphicon glyphicon-home"></i>
      <p style="display: inline-block;padding:0 2% 0 5%;font-size: 15px">故障详情-处理中</p>
    </div>
  </div>
  <div class="row Body">
    <div class="table">
      <table>
        <thead>
        <tr>
          <th># </th>
          <th>编号ID</th>
          <th>故障时间</th>
          <th>故障情况</th>
          <th>GPS位置</th>
          <th>发送检修指令</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of fault.datas; let i = index">
          <td>{{i + fault.startRecord}}</td>
          <td>{{f.id}}</td>
          <td>{{f.failureTime}}</td>
          <td></td>
          <td>{{f.gpsId}}</td>
          <td><button data-toggle="modal" data-target=".bs-example-modal-md" (click)="sendOut()">发送</button></td>
        </tr>
        </tbody>
      </table>
      <div class="text-center" style="padding: 1% 0;">
          <div class="pagination">
            <ul class="pagination">
              <li><a (click)="firstPage()">首页</a></li>
              <li><a (click)="previousPage()">上一页</a></li>
              <li><a (click)="nextPage()">下一页</a></li>
              <li><a (click)="lastPage()">尾页</a></li>
              <li><a>{{currentPage}}/{{fault.totalPage}}</a></li>
              <li><a  style="padding: 3px;">跳转到: &nbsp;
                <input type="number" [(ngModel)]="skpPage"  class="skip-input" (keyup.enter)="appointPage()">页</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-xs-1 control-label">Email</label>
          <div class="col-xs-4">
            <input type="email" [(ngModel)]="fault.datas[0].id" [ngModelOptions]="{standalone: true}" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-xs-1 control-label">Password</label>
          <div class="col-xs-4">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
